extends layouts/head.pug 

block main
  nav
    ul
      li 
        a(href="/albums/album1") Serie 1
      li 
        a(href="/albums/album2") Serie 2
      li 
        a(href="/albums/album3") Serie 3
      li 
        a(href="/albums/album4") Serie 4
  main
    if (album != undefined)
      h2=album
    div.card
      a(href="/foto/id")
        p Foto 1
    div.card
      a(href="/foto/id") 
        p Foto 2
    div.card
      a(href="/foto/id") 
        p Foto 3
    div.card
      a(href="/foto/id") 
        p Foto 4
    div.card
      a(href="/foto/id")
        p Foto 5
    div.card
      a(href="/foto/id")
        p Foto 6
    div.card
      a(href="/foto/id") 
        p Foto 7
    div.card
      a(href="/foto/id")
        p Foto 8
    div.card
      a(href="/foto/id")
        p Foto 9
    div.card
      a(href="/foto/id")
        p Foto 10
    a(href="/uploaden") Uploaden


