extends layouts/head.pug 

block main
  h2 Korte beschrijving
  p Hier komt de image tag
  p.fotograaf Naam fotograaf
  p.uploader Geupload door: naam uploader 
  p.beschrijving Uitgebreide beschrijving
  p.album Album
  p.locatie Amsterdam