extends layouts/head.pug 

block main
  h2 Foto toevoegen

  form(action="/uploaden" method="POST" enctype="multipart/form-data")
    label Kies foto bestand
      input(name="picture" type="file")
    label Jouw naam
      input(name="uploader" type="text")
    label Fotograaf
      input(name="photographer" type="text")
    label Locatie
      input(name="location" type="text")
    label Korte beschrijving
      input(name="description_short" type="text")
    label Beschrijving
      input(name="description" type="textarea")
    label Album
      select(name="album")
        option Serie 1
        option Serie 2
        option Serie 3
        option Serie 4
    button(type="submit") Foto uploaden