extends layouts/head.pug 

block main
  h2 Foto toevoegen

  form(action="/uploaden" method="POST" enctype="multipart/form-data")
    label Kies foto bestand
      input(name="picture" type="file" required)
    label Jouw naam
      input(name="uploader" type="text" required)
    label Fotograaf
      input(name="photographer" type="text")
    label Locatie
      input(name="location" type="text")
    label Korte beschrijving
      input(name="description_short" type="text" required)
    label Beschrijving
      textarea(name="description", cols="30", rows="10")
    label Album
      select(name="album")
        option Eten
        option Dieren
        option Abstract
        option Landschappen
    button(type="submit") Foto uploaden