*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
}

h1{
  text-align: center;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2{
  text-align: center;
}

form{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  width: 65%;
  margin: auto;
}

form label{
  margin-top: 1em;
  margin-right: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-direction: -webkit-column;
}

form input {
  margin-top: 1em;
  height: 24px;
}

form select {
  margin-top: 1em;
  height: 24px;
}

form button {
  margin-top: 1em;
  margin-bottom: 32px;
  height: 32px;
}
nav{
  margin-bottom: 1em;
}

.image{
  width: 90%;
  margin: 25px auto;
}

.information{
  margin: 25px auto;
}

.image > img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

nav li {
  width: 80%;
  height: auto;
  background-color: lightcoral;
  padding: 1em;
  list-style-type: none;
  text-align: center;
  margin: 10px auto;
}

nav ul {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 90%;
  height: auto;
  border-style: solid;
  border-radius: 1rem ;
  margin: 10px auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.card p {
  font-weight: 400;
  text-align: center;
}

.card img{
  width: 100%;
}

.pictures{
  display: flex;
  display: -webkit-flex;
  flex-direction: -webkit-row;
  flex-wrap: wrap;
  justify-content: center;
}

.uploaden{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aquamarine;
  -webkit-box-shadow: 1px 1px 5px grey;
  box-shadow: 1px 1px 5px grey;
  font-weight: 900;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.information{
  display: block;
  margin-inline:auto;
  width: 90%;
  margin-inline: auto;
}

.fotograaf, .uploader{
  font-weight: 300;
}

.beschrijving {
  font-weight: 400;
  margin-bottom: 25px;
}

.album, .locatie{
  font-weight: 100;
}

.namen, .extra{
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 16px;
}

@media(min-width: 40em){
  nav ul {
    flex-wrap: nowrap;
  }

  .card{
    width: 35%;
  }
}

@media(min-width: 50em){
  
  .image{
    width: 45%
  }

  .information{
    width: 45%;
  }

  .picture {
    display: flex;
    justify-content: space-around;
  }
}